 @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

 * {
     padding: 0;
     margin: 0;
     font-family: "Roboto Condensed", sans-serif;
     box-sizing: border-box;
 }


 body {
     background-color: #e4ecf3;
     padding: 40px;
     background-image: url("/images/background.jpeg");
     background-repeat: no-repeat;
     background-position: center;

 }

 a {
     text-decoration: none;
     color: #000000;
 }

 ul {
     list-style: none;
 }

 /* navigation bar */
 header {
     display: inline-block;
 }

 .navbar {
     display: flex;
 }

 .nav-toggle {
     display: flex;
     width: 100%;
     align-items: center;
     color: #000000;
 }

 .nav-menu {
     display: none;
     cursor: pointer;
 }

 #check {
     display: none;
 }

 i {
     position: relative;
     top: 5px;
 }

 .nav-items>a {
     background-color: #f0f1f5;
     padding: 8px 15px;
     margin: 5px;
     border-radius: 40px;
     cursor: pointer;
 }

 #faded {
     color: #545454;
     font-weight: 400;
     font-size: 17px;
 }

 a.active,
 a:hover {
     background-color: #f5f5f5;
     color: #000000;
     font-weight: 600;

     #faded {
         color: #000000;
     }
 }

 /* dropdown to select lang */


 .lang {
     display: inline;
     background: none;
     border: none;
     outline: none;
     box-shadow: none;
     margin-left: 150px;
     cursor: pointer;
     padding: 10px;
     font-weight: 500;
 }

 /* side content  */

 aside {
     float: right;
     background-color: #f5f5f5;
     padding: 13px;
     width: 30%;
     border-radius: 30px;
 }

 .search {
     position: relative;
 }

 .search>i {
     position: absolute;
     right: 0;
     padding: 10px;
 }

 .search>input {
     padding: 15px;
     width: 100%;
     border-radius: 15px;
     background-color: #e4e4e6;
     border: none;
     margin-bottom: 1.5rem;
 }

 .recommended {
     display: inline;
     padding-right: 8rem;
 }

 .view:hover {
     font-weight: 600;
     cursor: pointer;
 }

 /* for carousel */

 .carousel {
     margin: 13px;
     display: flex;
 }

 .blockchain_news {
     margin: 5px 10px 5px 0px;
     display: inline;
     color: rgb(0, 115, 182);
     font-weight: 550;
     font-size: 0.9rem;
 }

 .time {
     font-size: 0.8rem;
     color: #848484;
 }

 .full_faded {
     color: #dadada;
     font-weight: 400;
     font-size: 20px;
     margin: 3px;
     display: inline;
 }


 .carousel_element {
     background-image: linear-gradient(to top, rgba(91, 53, 245, 0.6) 15%, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)), url("/images/Trading.jpg");
     background-size: cover;
     align-items: center;
     border-radius: 20px;
     width: 100%;
     height: 200px;
     position: relative;
     margin-top: 10px;
     margin-bottom: 20px;
     color: #fff;
 }

 .elemnt {
     position: absolute;
     left: 0;
     bottom: 0;
     margin: 20px;
     color: white;
 }

 .elemnt dl {
     color: #fff;
     /* margin-bottom: 50px; */
 }

 .elemnt time {
     color: rgb(255, 255, 255, 0.7);
     /* margin-bottom: 50px; */
 }

 .elemnt .indicator {
     margin-bottom: 80px;
     border-color: #e4ecf3;
 }

 .elemnt .indicator .active {
     border-color: #fff;
 }

 /* main content  */

 article {
     text-transform: uppercase;
     font-weight: 600;
     padding: 8px;
     display: inline;
     background-image: linear-gradient(to right, rgb(213, 180, 255), rgba(213, 180, 255, 0.2), rgba(255, 255, 255, 0.1));
 }


 .hashtag {
     margin-right: 4rem;
     color: #a1a1a1;
     display: inline;
 }

 .best_of_work {
     font-size: 3rem;
     margin-top: 2rem;
     width: 50%;
 }

 .read_more {
     display: block;
     margin-top: 3rem;
     border-radius: 50px;
     line-height: 2rem;
     padding: 3px 8px;
     border: none;
     background-color: #fff;
     font-weight: 600;

 }

 /* aside cards */
 .card {
     display: inline-block;
     margin: 20px;
 }

 .card_image {
     border-radius: 10px;
 }

 .card_txt {
     font-size: 17px;
     margin-top: 15px;
     font-weight: 600;
 }


 hr {
     height: 1px;
     border: none;
     background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(199, 199, 199)));
 }

 /* for slider  */

 .slider {
     margin-top: 80px;
 }

 .slides {
     display: inline-block;
     width: 18%;
     margin-right: 50px;
     opacity: 0.6;
 }

 .slides p {
     margin-top: 16px;
     font-weight: 600;
 }

 .slides.active {
     opacity: 1;
 }

 .indicator {
     display: flex;
 }

 .indicator button {
     margin-bottom: 7px;
     padding-left: 10px;
     border-radius: 3px;
     border: #cacaca solid;
 }

 .indicator button.active {
     border: #5a5a5a solid;
 }

 @media (max-width : 1050px) {
     .nav-toggle {
         font-size: 15px;
     }

     .side_content {
         display: none;
     }

     .slides {
         font-size: 20px;
         width: 27%;
     }

     .best_of_work {
         width: 80%;
         font-size: 2.6rem;
     }
 }

 /* navbar for mobile view  */

 @media (max-width : 900px) {
     /* .nav-toggle {
         flex-wrap: wrap;
     } */

     .nav-menu {
         display: block;
     }

     .nav-toggle {
         position: fixed;
         display: block;
         width: 100%;
         text-align: center;
         background-color: #e4ecf3;
         top: 80px;
         /* height: 100vh; */
         left: -100%;
     }

     .nav-items {
         display: block;
     }

     .nav-items>a {
         font-size: 20px;
         background: none;
         line-height: 50px;
     }

     .a:hover,
     a.active {
         background-color: none;
         color: #000000;
         font-weight: 600;

         #faded {
             color: #000000;
         }
     }

     #check:checked~.nav-toggle {
         left: 0;
     }

     #check:checked~main {
         display: none;
     }

     .lang {
         display: none;
     }

     .slides {
         font-size: 17px;
         width: 23%;
     }
 }

 @media (max-width : 550px) {
     .best_of_work {
         font-size: 23px;
         width: 90%;
     }

     .slides {
         width: 90%;
     }
 }